cli-tools/*
!cli-tools/Readme.md

!cli-tools/dotnet/
cli-tools/dotnet/*
!cli-tools/dotnet/sdks
cli-tools/dotnet/sdks/*
!cli-tools/dotnet/sdks/8.0/
cli-tools/dotnet/sdks/8.0/*
!cli-tools/dotnet/sdks/8.0/Readme.md

!cli-tools/nvim-win64
cli-tools/nvim-win64/**/*
!cli-tools/nvim-win64/Readme.md

PortableGit/**/*
!PortableGit/Readme.md

PowerShell-x64/**/*
!PowerShell-x64/Readme.md

pwsh_modules/**/*
!pwsh_modules/Readme.md

VSCode-win32-x64/**/*
!VSCode-win32-x64/data
!VSCode-win32-x64/Readme.md

vscode_data/*
!vscode_data/Readme.md
!vscode_data/user-data/
vscode_data/user-data/*
!vscode_data/user-data/User/
vscode_data/user-data/User/*
!vscode_data/user-data/User/settings.json
