cli-tools/*
!cli-tools/README.md

!cli-tools/dotnet/
cli-tools/dotnet/*
!cli-tools/dotnet/sdks
cli-tools/dotnet/sdks/*
!cli-tools/dotnet/sdks/10.0/
cli-tools/dotnet/sdks/10.0/*
!cli-tools/dotnet/sdks/10.0/README.md

!cli-tools/nvim-win64
cli-tools/nvim-win64/**/*
!cli-tools/nvim-win64/README.md

PortableGit/**/*
!PortableGit/README.md

PowerShell-x64/**/*
!PowerShell-x64/README.md

pwsh_modules/**/*
!pwsh_modules/README.md

VSCode-win32-x64/**/*
!VSCode-win32-x64/data
!VSCode-win32-x64/README.md

vscode_data/*
!vscode_data/Readme.md
!vscode_data/user-data/
vscode_data/user-data/*
!vscode_data/user-data/User/
vscode_data/user-data/User/*
!vscode_data/user-data/User/settings.json
!vscode_data/TMP/README.md

dummy_userprofile/*
!dummy_userprofile/README.md
